<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>co.goerwin.alfred.window-manager</string>
	<key>connections</key>
	<dict>
		<key>5C18050D-D120-4E0B-B6BF-7036EAACB8F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9634953B-A916-4704-99FE-D08CFB3C329B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>752B5EBB-55B4-4086-A92B-B32A7C1B2094</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38104573-BE3E-425E-8693-1E3DD36158D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>goerwin</string>
	<key>description</key>
	<string>Manage your windows</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Window Manager</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>hs -c 'moveWindowToPreviousScreen()'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>38104573-BE3E-425E-8693-1E3DD36158D4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>w move prev</string>
				<key>subtext</key>
				<string>Move the current window to the previous monitor</string>
				<key>text</key>
				<string>Window Manager - Move to previous monitor</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>752B5EBB-55B4-4086-A92B-B32A7C1B2094</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>w move next</string>
				<key>subtext</key>
				<string>Move the current window to the next monitor</string>
				<key>text</key>
				<string>Window Manager - Move to next monitor</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5C18050D-D120-4E0B-B6BF-7036EAACB8F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>hs -c 'moveWindowToNextScreen()'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9634953B-A916-4704-99FE-D08CFB3C329B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>38104573-BE3E-425E-8693-1E3DD36158D4</key>
		<dict>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>5C18050D-D120-4E0B-B6BF-7036EAACB8F0</key>
		<dict>
			<key>xpos</key>
			<real>130</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>752B5EBB-55B4-4086-A92B-B32A7C1B2094</key>
		<dict>
			<key>xpos</key>
			<real>130</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>9634953B-A916-4704-99FE-D08CFB3C329B</key>
		<dict>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
