<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>co.goerwin.alfred.sayit</string>
	<key>connections</key>
	<dict>
		<key>08CF535F-895E-4AE9-A936-29DC49699103</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8EB2FEB1-060D-45A8-BA88-FDABF3275CF1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8C883F1F-14A8-4E8D-88D7-DF7591448FFD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1E8F758C-CD76-44B3-B179-83FE8F3E8430</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0A817327-421D-421A-8922-CFBBA3B44DAB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8FC0C4A4-F11D-45F6-8AF9-95D4902D1D97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>16039760-F173-4AB8-9C73-DA7401D5DE23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C74FEB6E-F7E1-4EC2-83E5-0D5496C447E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1E8F758C-CD76-44B3-B179-83FE8F3E8430</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3125DCC6-7320-4D4C-8C0B-9B81FFCE28B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>3125DCC6-7320-4D4C-8C0B-9B81FFCE28B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08CF535F-895E-4AE9-A936-29DC49699103</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>39D7BA6C-8966-4BE3-8FF4-3385AFD3B19F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A817327-421D-421A-8922-CFBBA3B44DAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8EB2FEB1-060D-45A8-BA88-FDABF3275CF1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A8C4AE35-A55D-4C19-8F66-3858ACF4F480</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A817327-421D-421A-8922-CFBBA3B44DAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC5DED8E-FA4E-4D49-96CC-3577A72C5A24</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08CF535F-895E-4AE9-A936-29DC49699103</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0271770-50CD-492E-B2BE-F0D8B1F438C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC5DED8E-FA4E-4D49-96CC-3577A72C5A24</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>goerwin</string>
	<key>description</key>
	<string>Reads outloud the text in different languages</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Say It</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>s</string>
				<key>subtext</key>
				<string>Pass no arguments to use the clipboard</string>
				<key>text</key>
				<string>Say it - in English (sen)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>language</key>
					<string>en</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3125DCC6-7320-4D4C-8C0B-9B81FFCE28B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8EB2FEB1-060D-45A8-BA88-FDABF3275CF1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>node index.js "{query}" &gt; /dev/null 2&gt;&amp;1 &amp;</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>use query</string>
						<key>uid</key>
						<string>8C883F1F-14A8-4E8D-88D7-DF7591448FFD</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>use clipboard</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>08CF535F-895E-4AE9-A936-29DC49699103</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>unstackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>C74FEB6E-F7E1-4EC2-83E5-0D5496C447E3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ses</string>
				<key>subtext</key>
				<string>Pass no arguments to use the clipboard</string>
				<key>text</key>
				<string>Say it - in Spanish (ses)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D0271770-50CD-492E-B2BE-F0D8B1F438C5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1E8F758C-CD76-44B3-B179-83FE8F3E8430</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>language</key>
					<string>es</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CC5DED8E-FA4E-4D49-96CC-3577A72C5A24</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sstop</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Say it - Stop</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>39D7BA6C-8966-4BE3-8FF4-3385AFD3B19F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>node index.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8FC0C4A4-F11D-45F6-8AF9-95D4902D1D97</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>stop</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0A817327-421D-421A-8922-CFBBA3B44DAB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>stop</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>A8C4AE35-A55D-4C19-8F66-3858ACF4F480</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Reads outloud the text you pass it in diferent languages.

Examples:
say hello world!
sayes Hola mundo!

* This workflow uses node so you need to set the nodePath variable to the node's absolute path. (eg. usr/bin/node).
To find out your node's absolute path, run "which node" in Terminal.

* Type "$ say -v '?'" in terminal to see the full list of available voices.

You can use embedded speech command [[rate 400]] within the query to change the rate

Examples:
Fred for en_US
Samantha for en_US
Victoria for en_US
Diego for es_AR
Jorge for es_ES
Juan for es_MX
Monica for es_ES
Paulina for es_MX

=============================================================
=============================================================
For debugging purposes
test text for english:

The fact that you’re -using- "AppleScript" makes the (task) 'significantly' harder. AppleScript is an awful &lt;language&gt;: it’s; too different?; from other languages, lacks several features, and is badly documented. That in turn makes it that few people want to use it, meaning there’s less people to help you and less people making resources for you to learn from.

AppleScript falls flat on its goal of being a language for people who don’t know how to program! It’s sole redeeming quality is that it can talk to GUI apps in a programatic way built into the system. But I advise you to use it for that alone, and get out and use something else as soon as possible. If you want to learn to program, do not start with AppleScript. It’s weighing you down.
This is the END.

test text for spanish:

Hola! te estoy hablando en español con acento!, ¿por qué señor Anderson? ¿Por qué lo hace? Este es el final.</string>
	<key>uidata</key>
	<dict>
		<key>08CF535F-895E-4AE9-A936-29DC49699103</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>0A817327-421D-421A-8922-CFBBA3B44DAB</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>16039760-F173-4AB8-9C73-DA7401D5DE23</key>
		<dict>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>1E8F758C-CD76-44B3-B179-83FE8F3E8430</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>3125DCC6-7320-4D4C-8C0B-9B81FFCE28B1</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>39D7BA6C-8966-4BE3-8FF4-3385AFD3B19F</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>8EB2FEB1-060D-45A8-BA88-FDABF3275CF1</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>8FC0C4A4-F11D-45F6-8AF9-95D4902D1D97</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>A8C4AE35-A55D-4C19-8F66-3858ACF4F480</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>C74FEB6E-F7E1-4EC2-83E5-0D5496C447E3</key>
		<dict>
			<key>note</key>
			<string>Hacky way to fix issue where an app focus is lost when activating it via Universal Action</string>
			<key>xpos</key>
			<real>730</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>CC5DED8E-FA4E-4D49-96CC-3577A72C5A24</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>D0271770-50CD-492E-B2BE-F0D8B1F438C5</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>enVoice</key>
		<string>Samantha</string>
		<key>esVoice</key>
		<string>Paulina,180</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
