<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>co.goerwin.alfred.notes</string>
	<key>connections</key>
	<dict>
		<key>297B0D9E-36FD-496E-A9E8-6A49B439212E</key>
		<array/>
		<key>324A8A9A-5AC8-4B5E-A368-99FC7BA662CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5710F582-2823-4FB7-B22F-09256744E597</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5710F582-2823-4FB7-B22F-09256744E597</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C58F718F-7037-441E-927A-B23AF2E6D59A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C22BBB9-D174-462A-AD85-BF31AC979FE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>324A8A9A-5AC8-4B5E-A368-99FC7BA662CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6E7C62F6-48BD-4CC3-A114-CC73AAC4614B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DDCA4683-5844-4934-AAFE-73D7CAC09CF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C58F718F-7037-441E-927A-B23AF2E6D59A</key>
		<array/>
		<key>D060735C-3DA9-4CD0-A082-965713F92816</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C22BBB9-D174-462A-AD85-BF31AC979FE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DDCA4683-5844-4934-AAFE-73D7CAC09CF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>297B0D9E-36FD-496E-A9E8-6A49B439212E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>goerwin</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Notes</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Cursor.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>C58F718F-7037-441E-927A-B23AF2E6D59A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Cursor.app</string>
				<key>sourcefile</key>
				<string>{var:notesFolderPath}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>324A8A9A-5AC8-4B5E-A368-99FC7BA662CD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:noteFilePath}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5710F582-2823-4FB7-B22F-09256744E597</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>n</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>node sfItems.ts "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Notes</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D060735C-3DA9-4CD0-A082-965713F92816</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>openFile</string>
						<key>outputlabel</key>
						<string>Open note file</string>
						<key>uid</key>
						<string>6E7C62F6-48BD-4CC3-A114-CC73AAC4614B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>create quick note</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>5C22BBB9-D174-462A-AD85-BF31AC979FE4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"
kekw=printf

noteFilePath="${noteFilePath/#\~/$HOME}"
touch "$noteFilePath"

dateVal=$(date "+%Y/%m/%d - %H:%M")

printf "%b\n" "# $dateVal\n$query\n" | cat - "$noteFilePath" &gt; temp &amp;&amp; mv temp "$noteFilePath"

printf "%b\n" "$query"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DDCA4683-5844-4934-AAFE-73D7CAC09CF8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Note added!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>297B0D9E-36FD-496E-A9E8-6A49B439212E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Set "notesFolderPath" variable to folder absolute path. Eg. "~/dropbox/notes"

"defaultNoteFilename" will be the file used to append quick notes</string>
	<key>uidata</key>
	<dict>
		<key>297B0D9E-36FD-496E-A9E8-6A49B439212E</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>324A8A9A-5AC8-4B5E-A368-99FC7BA662CD</key>
		<dict>
			<key>note</key>
			<string>Always open the notes folder first in VS Code, so that when a note file is opened, it will open it in the same window</string>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>5710F582-2823-4FB7-B22F-09256744E597</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>5C22BBB9-D174-462A-AD85-BF31AC979FE4</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>C58F718F-7037-441E-927A-B23AF2E6D59A</key>
		<dict>
			<key>xpos</key>
			<real>760</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>D060735C-3DA9-4CD0-A082-965713F92816</key>
		<dict>
			<key>xpos</key>
			<real>110</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>DDCA4683-5844-4934-AAFE-73D7CAC09CF8</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>defaultNoteFilename</key>
		<string>_notes.md</string>
		<key>notesFolderPath</key>
		<string>~/Library/Mobile Documents/com~apple~CloudDocs/Notes</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
